@use '../abstracts/variables' as var;
@use '../abstracts/mixins';

.button{
  display: inline-block;
  background-color: var.$color-primary;
  color: var.$white;
  @include mixins.flex-center;
  min-height: 44px;
  border-radius: var.$radius-md;
  transition: background .5s ease;

  &:hover{
    background: var.$color-primary-dark;
  }
  &:focus-visible{
    outline: 3px solid darkblue;
    outline-offset: 3px;
  }
}