.wrap{
  max-width: 1000px;
  margin-inline: auto;

  header{
    height: 100px;
    margin-bottom: 20px;
    background-color: orange;
  }

  footer{
    height: 50px;
    background-color: gray;
  }
}

main{
  margin-bottom: 20px;

  .top-list{
    display: flex;
    gap: 10px;
    margin-bottom: 30px;

    article{
      height: 700px;
    }

    .snb{
      width: 200px;
      background-color: skyblue;
    }
    .contents{
      background-color: greenyellow;
      flex: 1;
    }
  }

  .bottom-list{
    ul{
      height: 130px;
      display: flex;
      gap: 5px;

      li{
        flex-grow: 1;
        background-color: hotpink;
      }
    }

  }
}

